{{!< default}}

<article class="page {{post_class}}">
    {{#if @page.show_title_and_feature_image}}
    <header class="page-header">
        {{#if feature_image}}
        <div class="page-feature-image">
            <img src="{{feature_image}}" alt="{{title}}">
        </div>
        {{/if}}
        <h1 class="page-title">{{title}}</h1>
    </header>
    {{/if}}

    <div class="page-content">
        {{content}}
    </div>
</article>
