{{!< default}}

{{#post}}
<article class="post {{post_class}}">
    <header class="post-header">
        <h1 class="post-title">{{title}}</h1>
        <div class="post-meta">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date}}</time>
            {{#if primary_author}}
            <span class="post-author">by {{primary_author.name}}</span>
            {{/if}}
        </div>
    </header>

    {{#if feature_image}}
    <div class="post-feature-image">
        <img src="{{feature_image}}" alt="{{title}}">
    </div>
    {{/if}}

    <div class="post-content">
        {{content}}
        
        {{!-- Example marginalia for demonstration - these should be added via HTML cards in the content --}}
        {{#if @custom.show_marginalia}}
        {{!-- Sample marginalia voices (normally added via HTML cards in Ghost editor) --}}
        <div class="marginalia-voice" data-position="left" data-voice="1" data-scroll-trigger="20">
            /* ERROR: Every post assumes a reader */
        </div>
        <div class="marginalia-voice" data-position="right" data-voice="2" data-scroll-trigger="40">
            # The database shapes what can be "posted"
        </div>
        <div class="marginalia-voice" data-position="left" data-voice="3" data-scroll-trigger="60">
            > I am reading this through multiple layers of mediation
        </div>
        {{/if}}
    </div>
</article>
{{/post}}
